.hg
.svn

# VIM
*.swp
*.swo

*.pyc
*.pyo
*~
__pycache__/

bin/pypy-c
bin/pypy3.9-c
include/**/*.h
include/numpy/
lib_pypy/ctypes_config_cache/_[^_]*_*.py
libpypy-c.*
libpypy3.9-c.*
pypy-c
pypy3.9-c
pypy/_cache
pypy/doc/*.html
pypy/doc/config/*.html
pypy/doc/discussion/*.html
pypy/module/cpyext/src/*.o
pypy/module/cpyext/test/*.o
pypy/module/test_lib_pypy/ctypes_tests/*.o
pypy/translator/c/src/dtoa.o
pypy/translator/goal/pypy-c
pypy/translator/goal/target*-c
rpython/rlib/rvmprof/src/shared/libbacktrace/Makefile
rpython/rlib/rvmprof/src/shared/libbacktrace/config.guess
rpython/rlib/rvmprof/src/shared/libbacktrace/config.h
rpython/rlib/rvmprof/src/shared/libbacktrace/config.log
rpython/rlib/rvmprof/src/shared/libbacktrace/config.status
release/
rpython/_cache/
.cache/

# build
build/
bin/
site-packages/
lib_pypy/
pybuilddir.txt
